---
import LayoutPages from '../../layouts/LayoutPages.astro';
const text = 'Indagador de la filosofía medieval, politólogo, autodidacta, exiliado en EEUU, durante el gobierno militar. Incursiona en la dramaturgia, en el periodismo y en la literatura. Nacido en Buenos Aires, padre de cuatro hijos y amante de la literatura rusa, del teatro norteamericano y de la musica afroamericana. Escribió tres novelas "La ciudad del sol", "Neurosis", "Tierra Sin MaL", obras de teatro como "Jauretche en sus laberintos", "Borges en sus laberintos", etc. Editor del periódico digital "Debate y Convergencia" y abreva sobre filosofia en Radio Zonica.'
---

<LayoutPages title="OGIglesias - Acerca">
	<section class="about__page">
		<h3>ACERCA DE MÍ</h3>
		<section class="about__profile">
			<img src="./profile/profile_01.jpg">
			<p>Indagador de la filosofía medieval, politólogo, autodidacta, exiliado en EEUU, durante el gobierno militar. Incursiona en la dramaturgia, en el periodismo y en la literatura. Nacido en Buenos Aires, padre de cuatro hijos y amante de la literatura rusa, del teatro norteamericano y de la musica afroamericana. Escribió cinco novelas <span>"La ciudad del sol"</span> , <span>"Neurosis"</span> , <span>"Tierra Sin Mal"</span> , <span>"Destellos bajo el agua"</span>, <span>"Razones seminales"</span> obras de teatro como <span>"Jauretche en sus laberintos"</span> , <span>"Borges en sus laberintos"</span> , etc. Editor del periódico digital <span>"Debate y Convergencia"</span> y abreva sobre filosofia en Radio Zonica.</p>
		</section>
	</section>
</LayoutPages>


<style>

	.about__page h3{
		font-size: var(--font-size-large);
	}
	.about__page p{
		margin: var(--margin-small) 0 var(--margin-xlarge) 0;
		font-size: var(--font-size-medium);
		font-family: var(--font-base);
		font-weight: 100;
	}
	.about__page p span{
		font-size: var(--font-size-medium);

		font-weight: 300;
		color: var(--color-secondary);
	}

	.about__profile img {
		width: 45rem;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		margin: var(--margin-small) 0 var(--margin-large) 0;
		box-shadow: 0 5px 20px 1px var(--color-icons);
	}

	@media (1280px <= width <= 2000px) {

		.about__profile img {
		width: 40rem;
		aspect-ratio: 1 / 1;
		object-position: center;
		object-fit: cover;
		margin: var(--margin-small) 0 var(--margin-large) 0;
	}

		.about__page {
		height: fit-content;
	}
		.about__page p{
		font-size: var(--font-size-medium);
		font-family: var(--font-base);
		font-weight: 100;
	}
	.about__page p span{
		font-size: var(--font-size-medium);
		font-weight: 300;
		color: var(--color-secondary);
	}
	.about__profile{
		display: flex;
		gap: 3rem;
	}
}

</style>