:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(5deg, rgb(var(--accent)), #da62c4 30%, white 60%);

	--color-primary: #FFEAD5;
	--color-secondary: #E3E3E3;
	--color-icons: #1E1E1E;
	--color-background: #2D272D;
	/*Opacity 20% */
	--color-slider: #559E97;


	--margin-xlarge: 80px;
	--margin-large: 40px;
	--margin-small: 20px;

	--padding-horizontal: 20px;

	--font-base: 'Oswald', sans-serif;
	--font-text: 'Belleza', sans-serif; 

	--font-size-large: 31px;
	--font-size-medium: 20px;
	--font-size-small: 16px;

}