---

import { data } from '@/data/data';
import ListOfNotes from '@/components/ListOfNotes.astro';
import LayoutPages from '@/layouts/LayoutPages.astro';
const { notes } = data;

type Note = {
	id: number,
	title: string,
	content: string,
	href: string,
	important: boolean
}

---

<LayoutPages title="OGIglesias - Notas">
	<main class="w-full my-s flex flex-col gap-3 md:my-xxl">
		<ListOfNotes />
	</main>
</LayoutPages>
