---

import { data } from '@/data/data';
import ListOfNotes from '@/components/ListOfNotes.astro';
import LayoutPages from '@/layouts/LayoutPages.astro';
const { notes } = data;

type Note = {
	id: number,
	title: string,
	content: string,
	href: string,
	important: boolean
}

---

<LayoutPages title="OGIglesias - Notas">
	<section class="h-fit">
		<h3 class="text-large mt-msmall">NOTAS</h3>
		<ListOfNotes />
	</section>
</LayoutPages>
