---
import { data } from '../data/data';
import BackQuotes from '@/ui/BackQuotes.astro';

const { phrases } = data;

type Phrase = {
		id: number;
		phrase: string;
		author: string;
};

const randomPhrase:Phrase = phrases[Math.floor(Math.random() * phrases.length)];
---

<section class="my-mlarge w-full">

		<section class="flex flex-col gap-2">
			<BackQuotes/>
				<p class="text-large font-thin">{randomPhrase.phrase}</p>
				<span class="text-medium">{randomPhrase.author}</span>
		</section>

</section>
