/* 
.films__container::-webkit-scrollbar{
	height: 10px;
}
.films__container::-webkit-scrollbar-track{
	background-color: transparent;
} */

/* @media (1280px <= width <= 2000px) {

	.films__img{
		object-fit: cover;
		min-width: 400px;
		min-height: 400px;
		object-position: right;
	}

} */