.books{
	margin: var(--margin-xlarge) 0 0 0;
}
.books h2{
	font-size: var(--font-size-large);
}


.books__swipe{
	margin: var(--margin-small) 0 0 0;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 1rem;
	scroll-behavior: smooth;
}

.books__swipe::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.books__swipe::-webkit-scrollbar-track{
	background-color: transparent;
}
.books__a{
	position: relative;
	width: 100%;
	height: 100%;
}
.books__img{
	width: 221px;
	min-height: 298px;
	object-fit: cover;
}

@media (1280px <= width <= 2000px) {

	.books__img{
		width: 300px;
		min-height: 298px;
		height: 498px;
		min-width: 300px;
		object-fit: cover;
	}
}