
.books__swipe{
	margin: var(--margin-small) 0 0 0;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 1rem;
}

.books__swipe img{
	width: 221px;
	min-height: 298px;

	object-fit: cover;
}

swiper-container {
	width: 100%;
	height: 100%;
}

swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.books{
	margin: var(--margin-xlarge) 0 0 0;
}
.books h2{
	font-size: var(--font-size-large);
}

