---

import Hero from '@/sections/Hero.astro';
import PhraseOsvaldo from '@/components/PhraseOsvaldo.astro';
import BookNewPromotion from '@/components/BookNewPromotion.astro';
import ListOfNotes from '@/components/ListOfNotes.astro';
import ListOfBooks from '@/components/ListOfBooks';
import ListOfFilms from '@/components/ListOfFilms';
import CardSpotlight from '@/ui/CardSpotLight';
import LayoutPages from '@/layouts/LayoutPages.astro';
import ButtonOnLive from '@/components/ButtonOnLive.astro';

---

<LayoutPages title="OGIglesias - Escritor">
	<main class="w-full flex flex-col gap-3 my-xxl xl:grid grid-cols-3 xl:gap-3 xl:my-s">
		<section class="flex flex-col gap-3">
			<Hero/>
			<CardSpotlight client:load background='accent' classStyle="h-full">
				<PhraseOsvaldo/>
			</CardSpotlight>
		</section>
		<CardSpotlight client:load noPadding classStyle="w-full h-full relative">
			<BookNewPromotion/>
		</CardSpotlight>
		<ListOfBooks client:load/>
		<ListOfNotes/>
		<ListOfFilms client:load/>
		<ButtonOnLive/>
	</main>
</LayoutPages>