---

import LayoutPages from '../layouts/LayoutPages.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import PhraseOsvaldo from '../components/PhraseOsvaldo.astro';
import BookNewPromotion from '../components/BookNewPromotion.astro';
import ListOfBooks from '../components/ListOfBooks';
import CardSpotLight from '../components/ui/CardSpotLight';

---

<LayoutPages title="OGIglesias - Escritor">
	<Header/>
	<main class="w-full my-xs flex flex-col gap-2">
		<Hero/>
		<PhraseOsvaldo/>
		<BookNewPromotion/>
		<ListOfBooks/>
	</main>
</LayoutPages>