---

import Hero from '@/sections/Hero.astro';
import PhraseOsvaldo from '@/components/PhraseOsvaldo.astro';
import BookNewPromotion from '@/components/BookNewPromotion.astro';
import ListOfNotes from '@/components/ListOfNotes.astro';
import ListOfBooks from '@/components/ListOfBooks';
import ListOfFilms from '@/components/ListOfFilms';
import CardSpotlight from '@/ui/CardSpotLight';
import LayoutPages from '@/layouts/LayoutPages.astro';

---

<LayoutPages title="OGIglesias - Escritor">
	<main class="w-full my-s flex flex-col gap-3 md:my-xxl">
		<Hero/>
		<CardSpotlight client:load background={'accent'} classStyle="h-[200px]">
			<PhraseOsvaldo/>
		</CardSpotlight>
		<CardSpotlight client:load noPadding classStyle="w-full h-full relative">
			<BookNewPromotion/>
		</CardSpotlight>
		<ListOfBooks/>
		<ListOfNotes/>
		<ListOfFilms/>
	</main>
</LayoutPages>