---

import Logo from '../components/ui/Logo';
import BubbleCard from '../components/ui/BubbleCard.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import NavBar from '../components/NavBar';
import Hero from '../components/Hero.astro';

---

<LayoutPages title="OGIglesias - Escritor">
	<header class="w-full flex gap-2">
		<BubbleCard border radius={['3xl']}>
			<Logo/>
		</BubbleCard>
		<NavBar/>
	</header>
	<main class="my-xs">
		<Hero/>
	</main>
</LayoutPages>