---
import LineH from './ui/LineH';
---

<section class="about mt-msection">
	<h2 class="text-large mb-msmall">ACERCA</h2>
	<LineH/>
	<p class="text-medium text-pretty font-thin">
		Nacido en la Provincia de Buenos Aires de padre español y madre argentina, paso su niñez de casa en casa, militante de izquierda. Escapando de la carcel militar, vivió en Monterrey y cruzó la frontera a Nueva York. A su regreso a Buenos Aires en el 78, se incorpora en la actividad política y comienza a trabajar como obrero de la alimentación.
		Hoy es politólogo, licenciado en Relaciones Internacionales, auditor del Ministerio de Hacienda de GCBA. Autodidacta y apasionado indagador de la filósofia.
	</p>
</section>
