---
import LineH from './ui/LineH';
---

<section class="about">
	<h2>ACERCA</h2>
	<LineH/>
	<p>
		Nacido en la Provincia de Buenos Aires de padre español y madre argentina, paso su niñez de casa en casa, militante de izquierda. Escapando de la carcel militar, vivió en Monterrey y cruzó la frontera a Nueva York. A su regreso a Buenos Aires en el 78, se incorpora en la actividad política y comienza a trabajar como obrero de la alimentación.
		Hoy es politólogo, licenciado en Relaciones Internacionales, auditor del Ministerio de Hacienda de GCBA. Autodidacta y apasionado indagador de la filósofia.
	</p>
</section>

<style>
	.about{
		margin: var(--margin-sections) 0 0 0;
	}
	.about h2{
		font-size: var(--font-size-large);
	}
	.about p{
		font-size: var(--font-size-medium);
		margin: var(--margin-small) 0 0 0;
		letter-spacing: 0.5px;
		font-family: var(--font-base);
		font-weight: 100;
	}


</style>