



<section class="relative mb-20">
	<a class="video__coming" href="https://autoresdeargentina.mercadoshops.com.ar/MLA-1329094593-razones-seminales-osvaldo-gonzalez-iglesias-_JM#position=8&search_layout=stack&type=item&tracking_id=403cabd6-6c6e-46a3-a01f-db7085e1a849/" rel="noopenner noreferrer" target="_blank">
	<video class="coming__video shadow-md shadow-stone-900 z-0 mt-20 rounded-md object-center aspect-square object-cover" src="../promotions/razones-seminales.mp4" autoplay muted loop>
			Tu navegador no implementa el elemento <code>video</code>.
	</video>
	</a>
</section>

<style>
	.coming__video{
		height: 100%;
		width: 100%;
		position: relative
		;
	}
	.coming__video:hover{
		filter: grayscale(80%);
		transition: all 0.5s ease-in-out;
	}
</style>