



<section class="relative mb-20">
	<video class="shadow-md shadow-stone-900 z-0 mt-20 grayscale rounded-xl object-center aspect-square object-cover" src="../promotions/razones-seminales.mp4" autoplay muted loop>
			Tu navegador no implementa el elemento <code>video</code>.
	</video>
	<a class="absolute w-full h-full inset-0 mr-3 text-center z-10 text-xl bold mb-3 rounded-md px-4 py-2 shadow-xs shadow-stone-900 " href="https://autoresdeargentina.mercadoshops.com.ar/MLA-1329094593-razones-seminales-osvaldo-gonzalez-iglesias-_JM#position=8&search_layout=stack&type=item&tracking_id=403cabd6-6c6e-46a3-a01f-db7085e1a849/" rel="noopenner noreferrer" target="_blank"/>
</section>


<style>
</style>