<section class="relative mb-20 mt-mlarge">
	<a href="https://autoresdeargentina.mercadoshops.com.ar/MLA-1329094593-razones-seminales-osvaldo-gonzalez-iglesias-_JM#position=8&search_layout=stack&type=item&tracking_id=403cabd6-6c6e-46a3-a01f-db7085e1a849/" rel="noopenner noreferrer" target="_blank">
	<video class="hover:grayscale-[80%] hover:scale-95 transition-transform transition-colors w-full h-full relative shadow-md shadow-base-300 z-0 mt-20 rounded-md object-center aspect-square object-cover" src="../promotions/razones-seminales.mp4" autoplay muted loop>
			Tu navegador no implementa el elemento <code>video</code>.
	</video>
	</a>
</section>

