---
import ButtonArrow from './ui/ButtonArrow'
import { data } from '../data/data';

const socials = data.contact;

type Social = {
	id: number;
	title: string;
	href: string;
	state: boolean;
}

---

<section class="mt-mlarge mb-mlarge flex flex-col gap-4">
	{
		socials.map((social:Social)=>(
			social.state &&
			<section class="flex justify-between items-center w-full h-6 ">
				<a class="h-fit font-belleza text-small" href={social.href} target="_blank">
					{social.title.toUpperCase()}
				</a>
			</section>
		))
	}
</section>

