---

import { data } from '@/data/data';
import Container from '@/ui/Container';

const socials = data.contact;

type Social = {
	id: number;
	title: string;
	href: string;
	state: boolean;
}

---

<section class="mt-msmall mb-mlarge flex flex-col gap-4">
	{
		socials.map((social:Social)=>(
			social.state &&
			<Container>
				<section class="flex justify-between items-center w-full h-6 ">
					<a class="h-fit font-belleza text-small py-large px-small" href={social.href} target="_blank">
						{social.title.toUpperCase()}
					</a>
				</section>
			</Container>
		))
	}
</section>
