---
import LineH from './ui/LineH.astro'
import { data } from '../data/data';

const { films } = data;

type Film = {
	id: number;
	title: string;
	poster: string;
	movie: string;
	href: string;
};

---


<section class="films">
	<h2>FILMOTECA</h2>
	<LineH/>
	<section class="films__container">
		{
		films.map((film: Film) => (
			<a href={film.href} target="_blank"><img src={film.poster} class="films__img"></a>
		))
		}
	</section>
</section>


<style>
	.films{
		margin: var(--margin-xlarge) 0 0 0;
	}
	.films h2{
		font-size: var(--font-size-large);
	}
	.films__container{
		margin: var(--margin-small) 0 0 0;
		display: flex;
		gap: 1rem;
		overflow-x: scroll;
	}
	.films__img{
		object-fit: cover;
		min-width: 335px;
		min-height: 298px;
	}

	.films__img:hover{
		filter: grayscale(70%);
		transition: all 0.5s ease-in-out;
	}
</style>