---
import NavBar from './NavBar'
import Logo from './ui/Logo';
import ThemeController from './ThemeController';
---

<header class="header">
	<section>
		<Logo client:load/>
	</section>
	<section class="flex flex-col items-center justify-between">
		<NavBar client:load/>
		<ThemeController client:load/>
	</section>
</header>


<style>
	.header{
		display: flex;
		justify-content: space-between;	
	}

	@media (1280px <= width <= 2000px) {
		.header{
		align-items: center;
		justify-content: space-between;
	}

}
</style>