---
import NavBar from '../components/NavBar.astro'
import Logo from './Logo.astro';
---

<section class="header">
		<section class="header__title">
			<h1 class="">Osvaldo Gonzalez Iglesias</h1>
			<!-- <p class="">Escritor</p> -->
		</section>
		<!-- <NavBar/> -->
		<Logo/>
</section>


<style>
	.header{
		display: flex;
		margin: 0 0 0 0;
		justify-content: space-between;
	}
	.header__title{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.header__title h1{
		font-size: var(--font-size-large);
		font-family: var(--font-base);
		max-width: 128px;
		padding: 0;
		margin: 0;
		line-height: 1.2em;
	}
	/* .header__title p{
		font-size: var(--font-size-medium);
		font-family: var(--font-text);
	} */
</style>
