---
import NavBar from './NavBar'
import Logo from './ui/Logo';
import ThemeController from './ThemeController';
---

<header class="flex justify-between">
	<section>
		<Logo client:load/>
	</section>
	<section class="flex flex-col items-center justify-between">
		<NavBar client:load/>
		<ThemeController client:load/>
	</section>
</header>
