---
import BubbleCard from "./ui/BubbleCard.astro";


---


<section class="flex flex-col">
		<img class="self-end rounded-xl object-cover aspect-auto w-full max-h-[300px]" src="./profile/profile_02.jpeg"/>
		<main class="flex mt-xs gap-2">
			<BubbleCard background classStyle=={'flex-1'}>
				OSVALDO GONZALEZ IGLESIAS
			</BubbleCard>
			<section class="w-full flex flex-wrap flex-0">
				<BubbleCard border>
					<p>DG</p>
				</BubbleCard>
				<BubbleCard border>
					<p>RD</p>
				</BubbleCard>
				<BubbleCard border>
					<p>IG</p>
				</BubbleCard>
				<BubbleCard border>
					<p>IN</p>
				</BubbleCard>
				<BubbleCard border>
					<p>EM</p>
				</BubbleCard>
			</section>
		</main>
</section>
