<section class="home">
	<h1>
		OSVALDO GONZALEZ IGLESIAS
	</h1>
	<img class="home__img" src="./ui/lineroute.svg"/>
	<section class="home__works">
		<p>Escritor</p>
		<p>Politólogo</p>
		<p>Periodista</p>
	</section>
</section>


<style>
	.home{
		margin: var(--margin-xlarge) 0 0 0;
		display: flex;
		justify-content: flex-start;
		gap: 4rem;
	}

	.home h1{
		font-size: 2.7rem;
		font-family: var(--font-base);
		max-width: 128px;
		padding: 0;
		margin: 0;
		line-height: 1.2em;
		font-weight: normal;
	}

	.home__img{
		/* margin: 0 3rem 0 4rem; */
	}

	.home__works{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 9rem;
		gap: 1.5rem;
		font-family: var(--font-text);
		font-size: var(--font-size-medium);
		color: var(--color-primary);
	}

	@media (min-width: 768px) {

	.home h1{
		font-size: 4rem;
	}
	.home__img{
		height: 15rem;
		margin: 0 5rem 0 7rem;
	}
	.home__works{
		height: 15rem;
		gap: 1.5rem;
		font-family: var(--font-text);
		font-size: var(--font-size-medium);
		color: var(--color-primary);
	}
}
</style>