---
	import LineRoute from './ui/LineRoute';
---

<section class="home mt-msection flex flex-col gap-12">
	<section class="flex justify-start w-fit">
		<img class="self-end rounded-md object-cover aspect-square shadow-md shadow-base-300" src="./profile/profile_02.jpeg"/>
	</section>
	<section class="flex items-center justify-between">
		<h1 class="max-w-[128px] p-0 m-0 leading-10 font-normal text-xlarge">
			OSVALDO GONZALEZ IGLESIAS
		</h1>
		<LineRoute/>
		<section class="items-center text-large leading-10 font">
			<p>Escritor</p>
			<p>Politólogo</p>
			<p>Periodista</p>
		</section>
	</section>
</section>
