---

	import { data } from '@/data/data';
	import CardSpotlight from "@/ui/CardSpotLight"

	const { notes } = data;

	type Note = {
		id: number,
		title: string,
		content: string,
		href: string,
		important: boolean
	}

---

<section class="flex flex-col gap-1">
		<!-- <h3 class="text-xxxl text-accent">Notas</h3> -->
		{notes.map((note:Note) => (
			note.important &&
			<CardSpotlight backgroundGrid action classStyle={'w-full h-20 text-left'} border client:load>
				<a href={note.href} class="flex flex-col gap-1 text-left">
					<p class="text-n font-semibold">{note.title}</p>
					<p class="text-n font-light">{note.content}</p>
				</a>
			</CardSpotlight>
		))}
		<CardSpotlight backgroundGrid action classStyle={'w-full h-20 text-center'} border client:load>
				<a href={'/notes'} class="h-full gap-1 text-left flex flex-col justify-center">
					<p class="text-n font-semibold">Ver Mas</p>
				</a>
		</CardSpotlight>
</section>

