---
import BackQuotes from './ui/BackQuotes';
---

<section class="mt-mxlarge mb-mxlarge">
	<section class="flex flex-col gap-2">
		<BackQuotes/>
		<p class="text-large font-thin">Todos pasamos por ese filtro, amor, culpa y reparación, en nuestro crecimiento psíquico</p>
		<span class="text-medium">Osvaldo González Iglesias</span>
	</section>
</section>