---
import { data } from '../data/data';
import BackQuotes from './ui/BackQuotes.astro';

const { phrases } = data;

type Phrase = {
		id: number;
		phrase: string;
		author: string;
};

const randomPhrase:Phrase = phrases[Math.floor(Math.random() * phrases.length)];

---


<section class="phrase">
	{
		<section class="phrase__quote">
			<BackQuotes/>
				<p>{randomPhrase.phrase}</p>
				<span>{randomPhrase.author}</span>
		</section>
	}
</section>

<style>
	.phrase{
		margin: var(--margin-large) 0 0 0;
		width: 100%;
	}

	.phrase__quote{
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.phrase__quote p{
		font-size: var(--font-size-large);
		font-weight: 300;
		line-height: 2.5rem;
	}
	.phrase__quote span{
		font-size: large;
		font-size: var(--font-size-small);
	}

</style>

