---
import { data } from '../data/data';

const { phrases } = data;

type Phrase = {
		id: number;
		phrase: string;
		author: string;
};

const randomPhrase:Phrase = phrases[Math.floor(Math.random() * phrases.length)];

---


<section class="h-fit mb-20 mt-20 gap-8 flex flex-col">
	{
		<section class="border-b border-stone-800 rounded-xl px-4 py-2 shadow-md shadow-stone-900 flex flex-col justify-start">
			<blockquote class="text-md italic font-semibold text-blue-9700 dark:text-white">
				<svg class="w-8 h-8 dark:text-gray-400 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
						<path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
				</svg>
				<p class="text-4xl max-w-[18.5rem]">{randomPhrase.phrase}</p>
				<p >{randomPhrase.author}</p>
			</blockquote>
		</section>
	}
</section>

