---

import CardSpotlight from "@/ui/CardSpotLight"
import Logo from "@/ui/Logo"

---


<footer>
	<CardSpotlight background radiusEdit={"b"} classStyle='flex gap-4 justify-center items-center text-s font-oswald font-extralight' client:load>
			<p>Todos los derechos reservados</p>
			<Logo client:load size='small'/>
	</CardSpotlight>
</footer>
