---
import { data } from '@/data/data';
import CardSpotlight from "@/ui/CardSpotLight"
import ContactList from "@/components/ContactList.astro"
---


<section class="flex flex-col w-full h-full justify-center xl:grid xl:grid-cols-2 xl:grid-rows-4 xl:h-[700px]">
		<CardSpotlight classStyle="xl:col-span-2 xl:row-span-3" noPadding client:load >
			<img class="self-end rounded-xl object-cover aspect-auto w-full xl:col-span-2 xl:row-span-3 xl:max-h-full max-h-[300px]" src="./profile/profile_02.jpeg"/>
		</CardSpotlight>
		<main class="mt-xs flex gap-2 w-full h-full xl:col-span-2 xl:gap-2">						
			<section class="flex flex-wrap w-full gap-1 text-base-100 flex-1 xl:flex">
				<ContactList/>
			</section>
			<CardSpotlight border client:load background classStyle={'w-[13rem]'}>
				<p class="h-full grid items-center text-left text-xxl font-medium w-48 text-accent">
					OSVALDO GONZALEZ IGLESIAS
				</p>
			</CardSpotlight>
		</main>
</section>