---
import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro';
import Seo from '@/components/Seo.astro';

export interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;

---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<Seo title={title} description={description}/>
	</head>
	<body class="font-base min-w-full w-full h-full p-xl bg-background text-text">
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>


<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(5deg, rgb(var(--accent)), #da62c4 30%, white 60%);

		--color-slider: #559E97;
	}

	@font-face {
			font-family: Merriweather;
			font-display: swap;
			src: url("/public/fonts/merriweather-latin-400-normal.woff2") format("woff2");
		}
	@font-face {
			font-family: Grotesk;
			font-display: swap;
			src: url("/public/fonts/space-grotesk-latin-400-normal.woff2") format("woff2");
		}

</style>
