---
import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro';
import Seo from '@/components/Seo.astro';

interface Props {
	title: string;
	description?: string
}

const { title, description } = Astro.props;

---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<Seo title={title} description={description}/>
	</head>
	<body class="font-base min-w-full w-full h-full p-xl bg-background text-text">
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>


<style is:global>
	:root {
	}

	@font-face {
			font-family: Merriweather;
			font-display: swap;
			src: url("/public/fonts/merriweather-latin-400-normal.woff2") format("woff2");
		}
	@font-face {
			font-family: Grotesk;
			font-display: swap;
			src: url("/public/fonts/space-grotesk-latin-400-normal.woff2") format("woff2");
		}

</style>
