
	<div class="fixed bottom-8 right-4 z-10">
		<div class="filter opacity-90 rounded-full bg-base-300">
			<a href="#top">
				<img class="rotate-180 w-12" src='/ui/arrow_top.svg' />	
			</a>
		</div>
	</div>



<!-- <style>

	@media (768px <= width <= 996px) {
		.circle__container{
		position: fixed;
		bottom: 2rem;
		right: 10rem;
		z-index: 1;
		}

		.circle__button img {
		transform: rotate(180deg);
		width: 4rem;
		}

	}

	@media (996px <= width <= 1480px) {
		.circle__container{
		position: fixed;
		bottom: 2rem;
		right: 10rem;
		z-index: 1;
		}

		.circle__button img {
		transform: rotate(180deg);
		width: 5rem;
		}

	}

	@media (1480px <= width <= 1920px) {
		.circle__container{
		right: 20rem;
		}

		.circle__button img {
		transform: rotate(180deg);
		width: 5rem;
		}

	}

</style> -->
